@font-face {
    font-family: 'cera-md';
    src: url('Cera\ Pro\ Medium.otf') format('opentype');
    font-weight: lighter;
    /* Adjust weight if necessary */
    font-style: normal;
    /* Adjust style if necessary */
}

@font-face {
    font-family: 'cera';
    src: url('Cera\ Pro\ Regular.otf') format('opentype');
    font-weight: normal;
    /* Adjust weight if necessary */
    font-style: normal;
    /* Adjust style if necessary */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "cera";
}

html {
    --main-clr: #10997c;

    font-family: sans-serif;
}

/* general */

img {
    width: 100%;
}

section {}

/* header */

header {
    background-color: var(--main-clr);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;

    padding: 0 2%;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    color: #fff;
    font-weight: normal;
}

nav p {
    padding: 1rem .5rem;
    font-size: .8rem;
}

.logo-box--1 {
    width: 8%;
}

.logo-box--2 {
    width: 10%;
}

/* hero section */

.hero-sec {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/hero-sec-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;

    gap: 8rem;

    width: 100%;
    aspect-ratio: 4/2;

    padding: 8rem;
    padding-bottom: 5rem;
    color: #fff;
}

.top-heading-1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: .5rem;
    font-family: "cera-md";
}

.top-heading-2 {
    font-size: 1.8rem;
    font-weight: bold;
    font-family: "cera-md";
}

.hero-sec .btm {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    gap: 1rem;

    letter-spacing: 2px;

    font-weight: lighter;
}

/* feature section */

.silder-box {
    margin: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* width: 100%; */
}

.slider {
    overflow: hidden;
    position: relative;
    /* height: 100vh; */
    width: 100%;
    /* margin: auto; */
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    transition-timing-function: ease-in-out;
    transition-property: transform;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* background-color: #56a1a7; */

    pointer-events: none;
}

.slider-1-slide img {
    width: 30%;

    margin-bottom: 1rem;
}

.slider-1-slide p {
    width: 50%;
    text-align: center;
}

.dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;

    position: absolute;
    bottom: 2vw;
    right: 10%;
    z-index: 3;
}

.dot {
    width: 0.7vw;
    height: 0.7vw;
    border-radius: 50%;
    /* border: 0.01rem solid #000; */
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    background-color: rgb(255, 187, 187);
}

@media (min-width: 1000px) {
    .dot:hover {
        background-color: #ff0808;
    }
}

.dot-active {
    background-color: #34ffae;
    border-radius: 10rem;
}