@font-face {
    font-family: "cera-md";
    src: url("Cera\ Pro\ Medium.otf") format("opentype");
    font-weight: lighter;
    /* Adjust weight if necessary */
    font-style: normal;
    /* Adjust style if necessary */
}

@font-face {
    font-family: "cera";
    src: url("Cera\ Pro\ Regular.otf") format("opentype");
    font-weight: normal;
    /* Adjust weight if necessary */
    font-style: normal;
    /* Adjust style if necessary */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "cera";
}

.desk {
    display: block;
}

.mob {
    display: none;
}

html {
    --main-clr: #10997c;
    --border-rad: 0.2rem;

    font-family: sans-serif;
}

@media (max-width: 1500px) {
    :root {
        font-size: 18px;
    }
}

@media (max-width: 1366px) {
    :root {
        font-size: 16px;
    }
}

@media (max-width: 1024px) {
    :root {
        font-size: 14px;
    }
}

@media (max-width: 900px) {
    :root {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    :root {
        font-size: 10px;
    }
}

@media (max-width: 500px) {
    :root {
        font-size: 8px;
    }

    .desk {
        display: none;
    }

    .mob {
        display: block;
    }
}

/* general */

img {
    width: 100%;
}

.heading {
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 2rem;
}

.sub-heading {
    font-size: 1rem;
    text-align: center;

    color: #5f5f5f;
}

.sec {
    padding: 3vw 8vw;
    max-width: 120rem;
    margin: auto;
    position: relative;
}

@media (max-width: 500px) {
    .heading p {
        font-size: 3.2vh;
    }

    .sub-heading p,
    .tab {
        font-size: 2.5vh;
    }

    h5,
    p {
        font-size: 1.5vh;
    }

    .sec {
        padding: 6vh 8vw;
    }
}

/* slider section */

.silder-box {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 2rem;
    width: 100%;
}

.slider {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    transition-timing-function: ease-in-out;
    transition-property: transform;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* background-color: #56a1a7; */

    pointer-events: none;
}

.dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 9;
    transform: translate(-50%, 0%);
}

.dot {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    border: 0.01rem solid #000;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    background-color: rgb(208, 208, 208);
}

.dot:hover,
.dot:active {
    background-color: var(--main-clr);
}

.dot-active {
    background-color: var(--main-clr);
    border-radius: 10rem;
}

.arrow-box {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 2rem;
}

.left-arr,
.right-arr {
    width: 4%;

    padding: 0.5vw;

    background-color: var(--main-clr);

    border-radius: var(--border-rad);

    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-arr:hover,
.right-arr:hover {
    cursor: pointer;
    background-color: #1ce0b9;
}

/* header */

header {
    background-color: var(--main-clr);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    width: 100vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;

    padding: 0 2vw;

    transition: all .3s;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2vw;
    color: #fff;
    font-weight: normal;
}

.nav-tab-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .3vw;
    padding: 1vw 0.5vw;

    cursor: pointer;
}

nav p {
    font-size: 0.8rem;
}

.nav-tab-line {
    height: .2vw;
    width: 0%;
    background-color: #fff;
    border-radius: 100px;
    transition: width .3s ease-in-out;
    transform-origin: 0 0;
}


.logo-box--1 {
    width: 8%;
}

.logo-box--2 {
    width: 10%;
}

@media (max-width: 500px) {
    .logo-box--1 {
        width: 25%;
    }

    .logo-box--2 {
        width: 35%;
    }

    nav {
        display: none;
    }
}

/* hero section */

.hero-sec {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/hero-sec-bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;

    gap: 8rem;

    width: 100%;
    aspect-ratio: 4/2;

    padding-bottom: 5vw;
    color: #fff;
}

.top-heading-1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-family: "cera-md";
}

.top-heading-2 {
    font-size: 1.8rem;
    font-weight: bold;
    font-family: "cera-md";
}

.hero-sec .btm {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    gap: 1rem;

    letter-spacing: 2px;

    font-weight: lighter;
}

@media (max-width: 500px) {
    .hero-sec {
        aspect-ratio: 2/3;
        justify-content: center;
    }

    .top-heading-1 {
        font-size: 5vh;
    }

    .top-heading-2 {
        font-size: 2.5vh;
    }
}

/* feature section */

.feature-sec {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-bottom: 2vw;
}

.slider-1-slide img {
    width: 30%;

    margin-bottom: 1vw;
}

.slider-1-slide p {
    width: 50%;
    text-align: center;
}

@media (max-width: 500px) {
    .slider-1-slide {
        width: 50%;
    }

    .slider-1-slide img {
        width: 45%;
    }

    .arrow-box-1 {
        display: none;
    }

    .feature-sec .dots {
        bottom: 5vw;
    }
}

/* floor-plan */
.floor-plan {
    padding-top: 2vw;
}

.floor-plan .sub-heading {
    text-align: start;
    font-size: 1.2rem;
    font-weight: 700;
}

.floor-plan .silder-box {
    flex-direction: row;
    gap: 0.5rem;

    margin: 0;

    position: relative;
}

.slider-2-slide {
    width: 100%;

    display: grid;
    grid-template-columns: 72% 28%;

    flex: 1 0 0%;
}

.slider-2-slide img {
    object-fit: cover;
}

.floor-plan .arrow-box {
    flex-direction: column;
    flex: 0 1 0%;
    gap: 0.2rem;
}

.floor-plan .arrow-box .left-arr,
.floor-plan .arrow-box .right-arr {
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0%;

    border-radius: 0;
}

.floor-plan .arrow-box .left-arr img,
.floor-plan .arrow-box .right-arr img {
    filter: invert(1);
}

.building-2 {
    display: none;
}

@media (max-width: 500px) {
    .slider-2-slide {
        grid-template-columns: 1fr;

        flex: 1 0 0%;
    }

    .building-1 {
        display: none;
    }

    .building-2 {
        display: block;
    }

    .floor-wireframe {
        width: 75%;
    }

    .floor-plan .arrow-box {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

/* gallery */

.gallery {
    /* padding: 2rem 8rem; */

    background-color: var(--main-clr);
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.gallery .heading {
    text-align: start;
}

.gallery .sub-heading {
    text-align: start;
    font-size: 1rem;
    color: #fff;

    margin-bottom: 2rem;
}

.tab-box {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #fff;

    border-radius: var(--border-rad);
    flex: 0 1 0%;

    margin-bottom: 2rem;
    transition: all .3s;
}

.tab {
    padding: 0.3rem 0.5rem;
    transition: all 0.2s;
    cursor: pointer;
}

.tab:hover,
.tab:active {
    box-shadow: inset 0 0 0 2px #303030;
}

.tab-active {
    background-color: #fff;
    color: #232323;
    border-right: 1px solid #fff;
}

.gallery .silder-box {
    margin: 0;
}

.slider-3-slide,
.slider-4-slide {
    width: 60%;
}

.gallery .arrow-box .left-arr,
.gallery .arrow-box .right-arr {
    background-color: #d4d4d4;
}

.gallery .arrow-box .left-arr:hover,
.gallery .arrow-box .right-arr:hover {
    background-color: #fff;
}

@media (max-width: 500px) {

    .slider-3-slide,
    .slider-4-slide {
        width: 100%;
    }

    .gallery .arrow-box {
        display: none;
    }

    .tab {
        padding: 0.5rem 2rem;
    }

    .gallery .dots {
        bottom: 3vw;
    }
}

/* amenity-sec */

.amenity-sec {
    /* padding: 2% 8%; */

    display: grid;
    justify-items: center;
    align-items: center;

    gap: 4%;

    grid-template-columns: 25% 42% 25%;

    width: 100%;
    height: 80vh;
}

@media (max-width: 1000px) {
    .amenity-sec {
        height: 70vh;
    }
}

@media (max-width: 900px) {
    .amenity-sec {
        height: 65vh;
    }
}

@media (max-width: 800px) {
    .amenity-sec {
        height: 60vh;
    }
}

@media (max-width: 767px) {
    .amenity-sec {
        height: 55vh;
    }
}

@media (max-width: 500px) {
    .amenity-sec {
        height: auto;
    }
}

.amenity-sec .left-arr,
.amenity-sec .right-arr {
    width: 15%;
}

.amenity-sec .left-arr img,
.amenity-sec .right-arr img {
    filter: invert(1);
}

.amenity-sec .left-box {
    align-self: end;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    gap: 0.3rem;

    width: 80%;
}

.amenity-sec .center-box {
    align-self: start;
    width: 100%;

    position: relative;
}

.amenity-sec .center-box .heading {
    width: 20rem;
    text-align: start;
}

.amenity-sec .right-box {
    align-self: start;

    padding-top: 6vw;

    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    gap: 0.3rem;
}

.vdo-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    overflow: hidden;
}

.vdo-box img {
    position: absolute;
    top: 0;
    transition: all 0.5s ease-in-out;
}

.amenity-sec .silder-box {
    display: none;
}

.amenity-sec .center-box .play-btn {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;

    background-color: var(--main-clr);

    border: transparent;
    outline: transparent;

    color: #fff;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 0.7rem;

    cursor: pointer;

    z-index: 100;
}

@media (max-width: 500px) {
    .amenity-sec .center-box .play-btn {
        width: 8vh;
        height: 8vh;
        font-size: 0.9rem;
    }
}

@media (max-width: 500px) {
    .amenity-sec {
        grid-template-columns: 1fr;
    }

    .amenity-sec .left-box,
    .amenity-sec .middle-vdo-box,
    .amenity-sec .right-box {
        display: none;
    }

    .amenity-sec .center-box .heading {
        width: 100%;
    }

    .amenity-sec .silder-box {
        display: flex;
        margin: 0;
    }

    .slider-5-slide {
        width: 100%;
    }

    .gallery .arrow-box {
        display: none;
    }
}

/* connect-sec */

.connect-sec {
    padding-top: 11vw;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    justify-items: center;
    align-items: start;

    gap: 2rem;
}

.connect-sec .left-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    gap: 3rem;

    width: 100%;

    order: 1;
}

.connect-sec .left-box .silder-box {
    display: none;
}

.connect-img-box {
    display: grid;
    grid-template-columns: 1fr 1fr;

    justify-items: center;
    align-items: center;

    gap: 1rem;
}

.connect-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.connect-card img {
    width: 92px;
    height: 86px;
    margin-bottom: 1vw;
}
.connect-card p {
   font-size: 1vw;
   font-weight: 700;
}

.connect-sec .right-box {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    overflow: hidden;

    order: 2;
}

.map-box {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-box img {
    pointer-events: none;
}

.zoom-btn-box{
    position: absolute;
    bottom: 1vw;
    right: 1vw;

    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.zoom{
    font-size: 2rem;
    width: 2.2rem;
    height: 2.2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 500px) {
    .connect-sec {
        grid-template-columns: 1fr;
    }

    .connect-sec .left-box {
        order: 2;
    }

    .connect-sec .right-box {
        flex-direction: column;

        order: 1;
    }

    .connect-sec .left-box .connect-img-box {
        display: none;
    }

    .connect-sec .left-box .silder-box {
        display: flex;
        margin: 0;
    }

    .slider-6-slide {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slider-6-slide img {
        width: 80%;
    }

    .zoom{
        font-size: 2.5rem;
        width: 2.7rem;
        height: 2.7rem;
    }

    .connect-card{
        width: 100%;
    }
    
    .connect-card img {
        width: 80px !important;
        height: 75px;
    }
    .connect-card p {
       font-size: 1.2vh;
    }
}

/* about section */
.about-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    gap: 3rem;
}

.action-btn {
    padding: 0.6vw 3vw;
    border: transparent;
    background-color: var(--main-clr);

    border-radius: var(--border-rad);

    color: #fff;

    cursor: pointer;
    transition: all 0.3s;

    text-decoration: none;
}

.about-sec p {
    text-align: center;
}

@media (max-width: 500px) {
    .about-sec .heading p {
        font-size: 3.2vh;
    }

    .about-sec p {
        font-size: 2.5vh;
    }

    .action-btn {
        padding: 1vh 3vh;
        font-size: 2vh;
    }
}

.action-btn:hover {
    background-color: #19d1ac;
}

footer,
.qr-box {
    padding-bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.qr-box {
    gap: 1rem;
    padding: 2vw 8vw;
    background-color: #000;
    color: #fff;
}

.qr-box img {
    width: 15%;
}

.qr-box p {
    text-align: center;
}

.copy-write-box {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;

    padding: 1vw 8vw;

    background-color: var(--main-clr);
    color: #fff;

    padding-left: 6vw;
}

.copy-write-box p {
    border-right: 1px solid #fff;

    padding: 0 2vw;

    font-size: 0.7rem;
}

/* overlay component */

.modal-box {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100000;

    background-color: #0000009d;
    backdrop-filter: blur(10px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-inner-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    max-width: 640px;
    width: 100%;
    margin: 2vh;
}

iframe {
    max-width: 640px;
    width: 100%;
    height: 360px;
    
    box-sizing: content-box;
}

.modal-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 25px;
    padding: 6px;
    border: 1px solid #969696;
    border-radius: 100px;
    transition: all 0.2s;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    background: #00968887;
}

.modal-close-btn:hover {
    transform: translate(50%, -50%) scale(1.05);
}

.hide {
    display: none;
}

/* form-open */

.form-open {
    position: fixed;
    bottom: 4vw;
    right: 4vw;

    background-color: var(--main-clr);

    border-radius: 0.5rem;
    border: transparent;
    outline: transparent;

    width: 4vw;
    height: 4vw;

    padding: 1vw;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 3px 4px 7px 3px rgba(0, 0, 0, 0.603);

    transform: rotate(45deg);
}

.form-open img {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) rotate(-45deg);

    width: 2vw;

    filter: invert(1);
}

@media (max-width: 500px) {
    .form-open {
        width: 6vh;
        height: 6vh;

        padding: 1vh;

        bottom: 7vw;
        right: 6vw;
    }

    .form-open img {
        width: 4vh;
        padding: 0.5vh;
    }
}


.form-open {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
}

.form-open::after {
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -5px;
    left: -5px;
    right: 0;
    bottom: 0;
    content: "";
    height: 100%;
    width: 100%;
    border: 5px solid rgb(131 131 131 / 50%);
    border-radius: 0.5rem;
    -webkit-animation-name: ripple;
    animation-name: ripple;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
    animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
    z-index: -1;
    /*filter: invert(1);*/
    /*backdrop-filter: invert(1);*/
}

.form-open::before {
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -5px;
    left: -5px;
    right: 0;
    bottom: 0;
    content: "";
    height: 100%;
    width: 100%;
    border: 5px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    -webkit-animation-name: ripple;
    animation-name: ripple;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
    animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
    z-index: -1;
    /*filter: invert(1);*/
    /*backdrop-filter: invert(1);*/
}

@-webkit-keyframes ripple {
    from {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }

    to {
        opacity: 0;
        transform: scale3d(1.5, 1.5, 1);
    }
}

@keyframes ripple {
    from {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }

    to {
        opacity: 0;
        transform: scale3d(1.5, 1.5, 1);
    }
}


/* form related stuff */

.form-box {
    background-color: var(--main-clr);

    padding: 20px;

    width: 320px;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 16px;

    border-radius: 10px;

    color: #fff;
}

.form-title {
    font-weight: 700;
    font-size: 24px;
}

.form-info {
    font-size: 12px;
    letter-spacing: 1.2px;
    text-align: center;
}

.form-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    gap: 16px;
}

input {
    width: 100%;

    padding: 10px;

    border-radius: var(--border-rad);

    outline: transparent;

    border: transparent;
}

.phone-ip {
    display: grid;
    grid-template-columns: 20% 80%;
}

.sub-btn {
    padding: 10px 48px;

    font-weight: 700;

    font-size: 16px;

    border: transparent;
    outline: transparent;

    border-radius: var(--border-rad);

    cursor: pointer;
    transition: transform 0.2s;
}

.sub-btn:hover {
    transform: scale(1.03);
}

.thanyou-msg-box,
.thanyou-msg-box p{
    color: #fff;
}

.thanyou-msg-box{
    background-color: #000;
    padding: 2rem;
}

@media (max-width: 500px) {
    .thanyou-msg-box .sub-heading{
        font-size: 1.5vh;
    }
}